<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<!--foot-->
<div th:fragment="footer">
    <div class="footer">
        <ul>
            <li><a th:href="@{/good/conpon/live}"><img src="images/home.png" th:src="@{/images/home.png}"><span>好券直播</span></a></li>
            <li><a th:href="@{/brand_coupon_items}"><img src="images/9.9.png" th:src="@{/images/9.9.png}"><span>品牌券</span></a></li>
            <li><a th:href="@{/meternal_coupon_items}"><img src="images/jian.png" th:src="@{/images/jian.png}"><span>母婴主题</span></a></li>
            <li><a th:href="@{/to_super_search}"><img src="images/s.png" th:src="@{/images/s.png}"><span>超级搜</span></a></li>
        </ul>
    </div>
</div>

</html>